<ul class="nav nav-tabs justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Logout</a>
        </li>
</ul>
