:host {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.input {
	position: relative;
}

div.input label {
	padding: 5px 2px;
}

div.input input {
	outline: 0;
}

div.input {
	margin-top: 20px;
}