<form (submit)="login($event)">
    <div class="input">
      <label>Username</label>
      <input type="text">
    </div>
    <div class="input">
      <label>Password</label>
      <input type="password">
    </div>
    <div class="input">
      <input type="submit" class="btn btn-info" value="Login">
    </div>
  </form>