<div class="card p-2 mb-5">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <input class="form-control my-0 py-0" type="text" [(ngModel)]="searchText" placeholder="Search">
    </div>
    <div class="col-lg-3 col-md-6">
      <button type="button" class="btn btn-info" (click)="openModal(addTemplate)">Add new car</button>
    </div>
</div>
</div>
<div class="card card-cascade narrower">
  <div class="px-4">
      <div class="table-wrapper">
          <table class="table table-hover mb-0">
              <thead>
                  <tr>
                      <th class="th-lg"><a><i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Id<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Mark<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Model<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Description<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Colour<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Production date<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Retirement date<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Mileage<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Service Start<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Service End<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Edit / Delete<i class="fa fa-sort ml-1"></i></a></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let car of cars 
                  | filter: { id: searchText, 
                              mark: searchText, 
                              model: searchText, 
                              description: searchText, 
                              colour: searchText, 
                              productionDate: searchText, 
                              retirementDate: searchText,
                              mileage: searchText,
                              serviceStart: searchText,
                              serviceEnd: searchText
                             } : false">
                      <th scope="row">
                          <input type="checkbox" id="checkbox1">
                          <label for="checkbox1" class="label-table"></label>
                      </th>
                      <td>{{ car.id }}</td>
                      <td>{{ car.mark }}</td>
                      <td>{{ car.model }}</td>
                      <td>{{ car.description }}</td>
                      <td>{{ car.colour }}</td>
                      <td>{{ car.productionDate | date }}</td>
                      <td>{{ car.retirementDate | date }}</td>
                      <td>{{ car.mileage }}</td>
                      <td>{{ car.serviceStart | date }}</td>
                      <td>{{ car.serviceEnd |date }}</td>
                      <td>
                        <button class="btn btn-info btn-sm" (click)="openModal(editTemplate); carToEdit(car)">Edit</button>
                        <button class="btn btn-info btn-sm" (click)="deleteCar(car)">Delete</button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>


<ng-template #addTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add new car</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <form [formGroup]="addForm" (ngSubmit)="addCar(addForm.value); closeModalAndRefresh()">
            <div class="form-container">
                <div class="row columns">
                  <label id="mark" for="mark">Mark
                    <input type="text" name="mark" formControlName="mark">
                  </label>
                  <label id="model" for="model">Model
                    <input type="text" name="model" formControlName="model">
                  </label> 
                  <label id="description" for="description">Description</label>
                  <input type="text" name="description" formControlName="description">
                  <label id="colour" for="colour">Colour
                    <input type="text" name="colour" formControlName="colour">
                  </label>
                  <label id="productionDate" for="productionDate">Production date
                    <input type="text" name="productionDate" formControlName="productionDate">
                  </label>
                  <label id="retirementDate" for="retirementDate">Retirement date
                    <input type="text" name="retirementDate" formControlName="retirementDate">
                  </label>
                  <label id="mileage" for="mileage">Mileage
                    <input type="text" name="mileage" formControlName="mileage">
                  </label>
                  <label id="serviceStart" for="serviceStart">Service start
                    <input type="text" name="serviceStart" formControlName="serviceStart">
                  </label>
                  <label id="serviceEnd" for="serviceEnd">Service end
                    <input type="text" name="serviceEnd" formControlName="serviceEnd">
                  </label>
                  <input type="submit" class="btn btn-info button-expanded" value="Submit form">
                </div>
            </div>
        </form>
      </div>
    </div>
  </ng-template>


  <ng-template #editTemplate>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Edit selected car</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <form [formGroup]="editForm" (ngSubmit)="editCar(editForm.value); closeModalAndRefresh()">
              <div class="form-container">
                  <div class="row columns">
                    <label id="mark" for="mark">Mark
                      <input type="text" name="mark" formControlName="mark">
                    </label>
                    <label id="model" for="model">Model
                      <input type="text" name="model" formControlName="model">
                    </label> 
                    <label id="description" for="description">Description</label>
                    <input type="text" name="description" formControlName="description">
                    <label id="colour" for="colour">Colour
                      <input type="text" name="colour" formControlName="colour">
                    </label>
                    <label id="productionDate" for="productionDate">Production date
                      <input type="text" name="productionDate" formControlName="productionDate">
                    </label>
                    <label id="retirementDate" for="retirementDate">Retirement date
                      <input type="text" name="retirementDate" formControlName="retirementDate">
                    </label>
                    <label id="mileage" for="mileage">Mileage
                      <input type="text" name="mileage" formControlName="mileage">
                    </label>
                    <label id="serviceStart" for="serviceStart">Service start
                      <input type="text" name="serviceStart" formControlName="serviceStart">
                    </label>
                    <label id="serviceEnd" for="serviceEnd">Service end
                      <input type="text" name="serviceEnd" formControlName="serviceEnd">
                    </label>
                    <input type="submit" class="btn btn-info button-expanded" value="Submit form">
                  </div>
              </div>
          </form>
        </div>
      </div>
    </ng-template>