#container {
    width: 100%;
}

.dateFrom {
    margin-right: 14px;
}

.hasGps, .hasWifi {
    margin-right: 20px;
}

.checkbox_div {
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
}

#car_list {
    margin-top: 20px;
}