<div id="container" class="container-fluid">
<div class="row">
    <div class="col-lg-3 col-md-6">
        <select id="sort_box" class="mdb-select colorful-select dropdown-primary mx-2" [(ngModel)]="key" (change)="sort()">
            <option value="" disabled selected>Sort by</option>
            <option value="model">model</option>
            <option value="mark">mark</option>
            <option value="colour">colour</option>
            <option value="mileage">mileage</option>
            <option value="productionDate">production date</option>
        </select>
    </div>
    <div class="col-lg-3 col-md-6">
        <input class="form-control my-0 py-0" [(ngModel)]="searchText" type="text" placeholder="Search">
    </div>    
</div>

<div id="car_list" class="list-group" *ngFor="let car of cars | filter: {
        mark: searchText, 
        model: searchText, 
        productionDate: searchText, 
        mileage: searchText, 
        description: searchText, 
        colour: searchText
      } : false | orderBy: key : reverse">
    <button type="button" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-xl-4">
          <span>Mark: </span>{{ car.mark }}<br/>
          <span>Model: </span>{{ car.model }}<br/>
          <span>Production Date: </span>{{ car.productionDate | date }}<br/>
          <span>Mileage: </span>{{ car.mileage }}<br/>
      </div>
      <div class="col-xl-4">
          <span>Description: </span>{{ car.description }}<br/>
          <span>Colour: </span>{{ car.colour }}<br/>
          <span>Price for a day: </span> only 120 PLN!
      </div>
      <div class="col-xl-4">
        <span>Pick a car! </span><br/>
        <input type="button" class="btn btn-info" value="Book now" (click)="openModal(template); carToBook(car)">
      </div>
    </div>
  </button>
</div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Book a car</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
        <form [formGroup]="bookForm" (ngSubmit)="makeReservation(bookForm.value); closeModalAndRefresh()">
            <div class="form-container">
                <div class="row columns">
                    <label class="dateFrom" for="dateFrom">Date From
                    <input type="date" name="dateFrom" formControlName="dateFrom">
                    </label>
                    <label class="dateTo" for="dateTo">Date To
                    <input type="date" name="dateTo" formControlName="dateTo">
                    </label>
                    <div class="checkbox_div">
                        <label class="hasGps" for="hasGps">
                            <input [(ngModel)]="checkHasGps" type="checkbox" name="hasGps" formControlName="hasGps">Add Gps
                        </label>
                        <label class="hasWifi" for="hasWifi">
                            <input [(ngModel)]="checkHasWifi" type="checkbox" name="hasWifi" formControlName="hasWifi">Add Wifi
                        </label>
                    </div>
                    <label>
                        <input type="submit" class="btn btn-info button-expanded" value="Submit form">
                    </label>
                </div>
            </div>
        </form>
        </div>
    </div>
</ng-template>
