.form-container {
    display:block;
    justify-content: center;
    width: 100%;
    padding:2em;
    margin: 2em auto;
    background: rgb(192, 227, 230);
    border-radius: 2px;
    
}

h2 {
    margin-bottom: 2rem;
    font-weight:bold;
    font-family:'Muli';
    font-size: 2em;
}

#rent_date, #return_date {
    margin-right: 20px;
}
