<form class="form-container" [formGroup]="searchForm" (ngSubmit)="searchCars(searchForm.value)">
  <h2>Search for rental cars</h2>
  <label id="rent_date">Rent date
    <div>
      <input type="date" class="form-control" formControlName="rentDate" placeholder="Date from"/>
    </div>
  </label>
  <label id="return_date">Return date
    <div >
      <input type="date" class="form-control" formControlName="returnDate" placeholder="Date to"/>
    </div>
  </label>
  <label>
    <div>
      <input type="submit" class="btn-info form-control" value="Check our best options!">
    </div>
  </label>
</form>