#searchInput {
    margin-bottom: 10px;
    padding: 5px;
}

#addModalButton {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

.form-container {
    display:block;
    width:90%;
    padding:2em;
    margin: 2em auto;
    background:#fff;
}

.button {
    margin-top: 3rem;
}
h1 {
    margin-bottom: 2rem;
    font-weight:bold;
    font-family:'Muli';
    font-size: 2em;
}