<h2>List of customers</h2>

<button id="addModalButton" type="button" class="btn btn-info" (click)="openModal(template)">Add new customer</button>

<div>
  <input id="searchInput" class="form-control" [(ngModel)]="searchText" placeholder="Search">
</div>

<div class="list-group" *ngFor="let customer of customers | filter:{ id: searchText, firstName: searchText, lastName: searchText } : false" 
  (click)="customerClicked(customer)">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ customer.id }}</th>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
          </tr>
        </tbody>
      </table>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add new customer</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <form [formGroup]="customerForm" (ngSubmit)="addCustomer(customerForm.value); closeModalAndRefresh()">
          <div class="form-container">
              <div class="row columns">
                <label for="firstName">First name</label>
                <input type="text" name="firstName" formControlName="firstName">
                <label for="lastName">Last name</label> 
                <input type="text" name="lastName" formControlName="lastName">
                <label for="email">E-mail</label>
                <input type="text" name="email" formControlName="email">
                <input type="submit" class="btn btn-info button-expanded" value="Submit form">
              </div>
          </div>
      </form>
    </div>
  </div>
</ng-template>