<app-header></app-header>
<h2>Hello {{username}}!</h2>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Admin Panel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li routerLinkActive="active current" class="nav-item">
        <a routerLink="/admin/customer-management" class="nav-link">Customer management</a>
      </li>
      <li routerLinkActive="active current" class="nav-item">
        <a routerLink="/admin/car-administration" class="nav-link">Car administration</a>
      </li>
      <li routerLinkActive="active current" class="nav-item">
        <a routerLink="/admin/rental-administration" class="nav-link">Rental administration</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>