<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome in Rental Cars!</h1>
      <p class="lead">Log in and discover our best options</p>
    </div>
  </div>
  <app-login-form></app-login-form>
  <app-background-image></app-background-image>