<h2>List of rented cars</h2>
<div class="list-group" *ngFor="let car of cars">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Mark</th>
        <th scope="col">Model</th>
        <th scope="col">Description</th>
        <th scope="col">Production date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ car.id }}</th>
        <td>{{ car.mark }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.description }}</td>
        <td>{{ car.productionDate | date }}</td>
      </tr>
    </tbody>
  </table>
</div>