<app-header></app-header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">User Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li routerLinkActive="active current" class="nav-item">
          <a routerLink="/user/car-search-management" class="nav-link">Car search</a>
        </li>
        <li routerLinkActive="active current" class="nav-item">
          <a routerLink="/user/reservations" class="nav-link">Reservations</a>
        </li>
      </ul>
    </div>
</nav>
<router-outlet></router-outlet>