.car_id, .dateFrom {
    margin-right: 14px;
}

.hasGps, .hasWifi {
    margin-right: 20px;
}

.checkbox_div {
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
}

#remarks_label {
    width: 50px;
    margin-right: 30px;
}
#remarks {
    height: 100px;
    width: 320px;
    margin-bottom: 10px;
}