<div class="card p-2 mb-5">
  <div class="row">
      <div class="col-lg-3 col-md-6">
        <input class="form-control my-0 py-0" [(ngModel)]="searchText" type="text" placeholder="Search">
      </div>
      <div class="col-lg-3 col-md-6">
        <button type="button" class="btn btn-info" (click)="openModal(template)">Add new rental</button>
    </div>
  </div>
</div>

<div class="card card-cascade narrower">
  <div class="px-4">
      <div class="table-wrapper">
          <table class="table table-hover mb-0">
              <thead>
                  <tr>
                      <th class="th-lg"><a> <i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Id <i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Car ID <i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Customer ID<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Status<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Date From<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Date To<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Add Gps<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Add Wifi<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Remarks<i class="fa fa-sort ml-1"></i></a></th>
                      <th class="th-lg"><a href="">Actions<i class="fa fa-sort ml-1"></i></a></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let rental of rentals | filter: { id: searchText, 
                    id: searchText, 
                    car_id: searchText, 
                    customer_id: searchText, 
                    status: searchText, 
                    dateFrom: searchText, 
                    dateTo: searchText,
                    hasGps: searchText,
                    hasWifi: searchText
                   } : false">
                      <th scope="row">
                          <input type="checkbox" id="checkbox1">
                          <label for="checkbox1" class="label-table"></label>
                      </th>
                      <td>{{ rental.id }}</td>
                      <td>{{ rental.car_id }}</td>
                      <td>{{ rental.customer_id }}</td>
                      <td>{{ rental.status }}</td>
                      <td>{{ rental.dateFrom | date }}</td>
                      <td>{{ rental.dateTo | date }}</td>
                      <td>{{ rental.hasGps }}</td>
                      <td>{{ rental.hasWifi }}</td>
                      <td>{{ rental.remarks }}</td>
                      <td>
                          <div class="btn-group" dropdown>
                              <button type="button" class="btn btn-info btn-sm">Choose action</button>
                              <button type="button" dropdownToggle class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split">
                              </button>
                              <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem"><a class="dropdown-item" (click)="openModal(template2); rentalToEdit(rental)">Rent a car</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)="openModal(template3); rentalToEdit(rental)">Return a car</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)="deleteRental(rental)">Delete rental</a>
                                </li>
                              </ul>
                            </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <hr class="my-0">
  </div>
</div>


<ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Add a new rental</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <form [formGroup]="addForm" (ngSubmit)="addRental(addForm.value); closeModalAndRefresh()">
                <div class="form-container">
                    <div class="row columns">
                      <label class="car_id" for="car_id">Car Id
                        <input type="text" name="car_id" formControlName="car_id">
                      </label>
                      <label class="customer_id" for="customer_id">Customer Id
                        <input type="text" name="customer_id" formControlName="customer_id">
                      </label> 
                      <label class="status" for="status">Status</label>
                      <input type="text" name="status" formControlName="status">
                      <label class="dateFrom" for="dateFrom">Date From
                        <input type="text" name="dateFrom" formControlName="dateFrom">
                      </label>
                      <label class="dateTo" for="dateTo">Date To
                        <input type="text" name="dateTo" formControlName="dateTo">
                      </label>
                      <div class="checkbox_div">
                          <label class="hasGps" for="hasGps">
                              <input [(ngModel)]="checkHasGps" type="checkbox" name="hasGps" formControlName="hasGps" value="1">Add Gps
                            </label>
                            <label class="hasWifi" for="hasWifi">
                                <input [(ngModel)]="checkHasWifi" type="checkbox" name="hasWifi" formControlName="hasWifi" value="2">Add Wifi
                            </label>
                        </div>
                        <label>
                            <input type="submit" class="btn btn-info button-expanded" value="Submit form" [disabled]="customerForm.valid">
                        </label>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </ng-template>


      <ng-template #template2>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Rent a car</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <form [formGroup]="rentForm" (ngSubmit)="rentCar(rentForm.value); closeModalAndRefresh()">
                    <div class="form-container">
                        <div class="row columns">
                          <label class="dateFrom" for="dateFrom">Date From
                            <input type="date" name="dateFrom" formControlName="dateFrom">
                          </label>
                          <label class="dateTo" for="dateTo">Date To
                            <input type="date" name="dateTo" formControlName="dateTo">
                          </label>
                          <div class="checkbox_div">
                              <label class="hasGps" for="hasGps">
                                  <input [(ngModel)]="checkHasGps" type="checkbox" name="hasGps" formControlName="hasGps">Add Gps
                                </label>
                                <label class="hasWifi" for="hasWifi">
                                    <input [(ngModel)]="checkHasWifi" type="checkbox" name="hasWifi" formControlName="hasWifi">Add Wifi
                                </label>
                            </div>
                            <label>
                                <input type="submit" class="btn btn-info button-expanded" value="Submit form" [disabled]="customerForm.valid">
                            </label>
                        </div>
                    </div>
                </form>
              </div>
            </div>
          </ng-template>


          <ng-template #template3>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Rent a car</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>
                    <form [formGroup]="returnForm" (ngSubmit)="returnCar(returnForm.value); closeModalAndRefresh()">
                        <div class="form-container">
                            <div class="row columns">
                              <label class="dateFrom" for="dateFrom">Date From
                                <input type="date" name="dateFrom" formControlName="dateFrom">
                              </label>
                              <label class="dateTo" for="dateTo">Date To
                                <input type="date" name="dateTo" formControlName="dateTo">
                              </label>
                              <label id="remarks_label" for="remarks">Remarks</label>
                                  <input id="remarks" type="textarea" name="remarks" formControlName="remarks">
                              <label>
                                <input type="submit" class="btn btn-info button-expanded" value="Submit form">
                              </label>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
              </ng-template>