<div class="container">
  <div class="row">
    <div class="col-xl-6">
      <app-customers-list (customerSelected)="customerSelected($event)" (carsOfCustomerSelected)="carsOfCustomerSelected($event)"></app-customers-list>
    </div>
    <div class="col-xl-6">
      <div id="details_box">
        <app-customer-details [customer]="currentCustomer"></app-customer-details>
      </div>
      <div id="list_box">
        <app-customer-cars-list [customer]="currentCustomer" [cars]="currentCustomerCars"></app-customer-cars-list>
      </div>
    </div>
  </div>
</div>
