<h2>Details of customer: </h2>
<h2><span>{{ customer.firstName | uppercase }}</span><span> {{ customer.lastName | uppercase }}</span></h2>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">E-mail</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ customer.id }}</th>
          <td>{{ customer.firstName }}</td>
          <td>{{ customer.lastName }}</td>
          <td>{{ customer.email }}</td>
        </tr>
      </tbody>
    </table>
<button class="btn btn-info" (click)="openModal(template)">Edit customer</button>
<button class="btn btn-info" (click)="deleteCustomer(customer)">Delete customer</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit customer</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <form [formGroup]="editForm" (ngSubmit)="editCustomer(editForm.value); closeModalAndRefresh()">
          <div class="form-container">
              <div class="row columns"> 
                <label for="firstName">First name</label>
                <input type="text" name="firstName" formControlName="firstName">
                <label for="lastName">Last name</label> 
                <input type="text" name="lastName" formControlName="lastName">
                <label for="email">E-mail</label>
                <input type="text" name="email" formControlName="email">
                <input type="submit" class="btn btn-info button-expanded" value="Submit form">
              </div>
          </div>
      </form>
    </div>

  </div>
</ng-template>